body {
  display: flex;
  justify-content: center;
}

.app{
  height: 600px;
  width: 100vh;
 
}

.map{
  height: 100%;
  width: 100%;
}

.marker{
  background-image: url('./images/person.png');
  background-size: cover;
  width: 6rem;
  height: 6rem;
  color: yellow;
  border-radius: 7px;

}

.marker-delivery {
  
  background-color: blue;
  width: 22px;
  height: 22px;
  border-radius: 11px;
}